In [6]:
l = [(100, 'A') , (200 , 'B') , (300 , 'C')]

In [7]:
d = dict(l)

In [8]:
print(d)

{100: 'A', 200: 'B', 300: 'C'}

In [9]:
print(type(d))

<class 'dict'>

In [10]:
# how to access data from dictionary
d = {100: 'nafees', 200: 'sheesh' , 300:'anis'}

In [11]:
d

{100: 'nafees', 200: 'sheesh', 300: 'anis'}

In [12]:
d[100]

'nafees'

In [13]:
print(d[300])

anis

In [4]:
d = {100: 'nafees' , 200: 'ahmad', 300: 'sheesh'}
key = eval(input("enter key to find value : "))
if key in d :
    print('the corresponding value is: ', d[key])
else: 
    print('the corresponding value is not avilabale')

enter key to find value : 600
the corresponding value is not avilabale

In [5]:
d = {100:'nafees', 200:'ahmad'}
d[100]= 'sheesh'
print(d)

d[200] = 'sunny'
print(d)

{100: 'sheesh', 200: 'ahmad'}
{100: 'sheesh', 200: 'sunny'}

In [47]:
for key,value in d.items():
    print(x , ":" ,value)

200 : sheesh
200 : sunny

# write a program to enter name and % Marks in the dictionary  and display information on the screen

In [6]:
dic= {}             # empty dictionary
n = int(input("Enter number of student : "))
i=1
while i<=n:
    name = input("Enter Student Name : ")
    marks = input("Enter % of Marks of student : ")
    dic[name] = marks
    i= i+1
print()
print("Name of Student \t\t  % of marks") 
print("----------------------------------------------")
for x in dic:
    print("\t", x ,"\t\t", dic[x])

Enter number of student : 2
Enter Student Name : vrsa
Enter % of Marks of student : 11
Enter Student Name : kali
Enter % of Marks of student : 55

Name of Student 		  % of marks
----------------------------------------------
	 vrsa 		 11
	 kali 		 55

# how to update dictionary

In [7]:
d = {100: "nafees", 200: "ravi" , 300: "shiva"}

In [8]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [9]:
d[400] = "faiz"
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva', 400: 'faiz'}

In [10]:
d[100]  =  "ahmad"
print(d)

{100: 'ahmad', 200: 'ravi', 300: 'shiva', 400: 'faiz'}

# How to delete element from dictionary

# del d[key]

In [70]:
d = {100 : 'nafees' , 200 : 'ahmad' , 300: 'nida'}
print(d)

{100: 'nafees', 200: 'ahmad', 300: 'nida'}

In [71]:
del d[100]

In [74]:
print(d)

{200: 'ahmad', 300: 'nida'}

In [75]:
del d[200]
print(d)

{300: 'nida'}

In [76]:
del d[300]
print(d)

{}

In [77]:
d

{}

# d.clear()

In [83]:
d = {100: "nafees", 200: "ravi" , 300: "shiva"}

In [84]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [85]:
d

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [86]:
d.clear()
print(d)

{}

# to delete total dictionary

In [11]:
# we can not access dictionary

In [12]:
d = {100: "nafees", 200: "ravi" , 300: "shiva"}

In [13]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [14]:
del d

In [15]:
print(d)

NameError: name 'd' is not defined

# Important function of dictionary

In [92]:
d = {}

In [93]:
d

{}

In [94]:
type(d)

dict

# dict()

In [96]:

     # to create a empty dictionary

In [97]:
d = dict()

In [98]:
print(d)

{}

In [99]:
print(type(d))

<class 'dict'>

In [17]:
d = dict({100: "nafees", 200: "ravi" , 300: "shiva"})

In [18]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

# len()

In [19]:
# retuen the number of item in the dictionary

In [20]:
d

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [21]:
len(d)

3

# clear()

In [108]:
d

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [109]:
d.clear()

In [121]:
d

{}

In [221]:
dic = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [222]:
dic

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

# get()

In [223]:
dic

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [224]:
dic.get(100)

'nafees'

In [225]:
dic.get(200)

'ravi'

In [226]:
print(dic.get(300))

shiva

In [29]:
print(dic.get(500))  # if key is not available then return None

None

In [229]:
print(dic.get(100, 'guest'))

nafees

In [231]:
# if key is not available then default value return which we given
print(dic.get(500 , " i am hacker"))

 i am hacker

In [135]:
# if key is avilable then return corresponding value, 
# otherwise return default  values
print(dic.get(500 , "python"))

python

In [136]:
print(dic)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

# pop()

In [137]:
dic

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [138]:
dic.pop(100)     # return deleted value

'nafees'

In [139]:
print(dic)

{200: 'ravi', 300: 'shiva'}

# popitem()

In [147]:
# it removes an arbitary item (key-value) from the dictionary and return it

In [148]:
d = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [149]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [150]:
print(d.popitem())

(300, 'shiva')

In [152]:
print(d)

{100: 'nafees', 200: 'ravi'}

In [153]:
d.popitem()

(200, 'ravi')

In [154]:
 d

{100: 'nafees'}

In [155]:
d.popitem()

(100, 'nafees')

In [156]:
d

{}

In [157]:
dc = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [158]:
print(dc)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [159]:
print(dc.popitem())

(300, 'shiva')

In [160]:
dc

{100: 'nafees', 200: 'ravi'}

In [161]:
dc.popitem()

(200, 'ravi')

In [162]:
dc

{100: 'nafees'}

In [163]:
dc.popitem()

(100, 'nafees')

In [164]:
dc

{}

# key()

In [165]:
d = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [166]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [169]:
print(d.keys())

dict_keys([100, 200, 300])

In [171]:
k = d.keys()

In [178]:
for key in d.keys():
    print(key)

100
200
300

# values()

In [30]:
dict = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [31]:
print(dict)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [32]:
print(dict.values())

dict_values(['nafees', 'ravi', 'shiva'])

In [33]:
for values in dict.values():
    print(values)

nafees
ravi
shiva

# items()

In [184]:
d = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [185]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [195]:
print(d.items())

dict_items([(100, 'nafees'), (200, 'ravi'), (300, 'shiva')])

In [199]:
for i in d.items():
    print(i)

(100, 'nafees')
(200, 'ravi')
(300, 'shiva')

In [202]:
for k in d.items():
    print(k[0],":",k[1])

100 : nafees
200 : ravi
300 : shiva

In [203]:
for key , value in d.items():
    print(key, ":", value)

100 : nafees
200 : ravi
300 : shiva

# copy()

In [232]:
d = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [233]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [234]:
print("adderess of d : ", id(d))

adderess of d :  1830291886208

In [235]:
d1= d.copy()

In [236]:
d1

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [237]:
print("address of d1 : ", id(d1))

address of d1 :  1830291861120

# setdefault()

In [244]:
# if key is already available then function return corresponding value.
# if the key is not available then the specified key-value will be added 
# as new item to the dictionary

In [238]:
d1

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [239]:
d1.setdefault(400, "haadi")

'haadi'

In [240]:
print(d1)

{100: 'nafees', 200: 'ravi', 300: 'shiva', 400: 'haadi'}

In [242]:
d1.setdefault(100, "kali")

'nafees'

In [245]:
print(d1)

{100: 'nafees', 200: 'ravi', 300: 'shiva', 400: 'haadi'}

# update()

In [251]:
d = {100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [252]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva'}

In [255]:
x = {1111 : 'kali' , 222 : 'charan'}

In [257]:
print(x)

{1111: 'kali', 222: 'charan'}

In [261]:
# all item present in the dictionary x will be added to dictionary d
d.update(x)

In [262]:
print(d)

{100: 'nafees', 200: 'ravi', 300: 'shiva', 1111: 'kali', 222: 'charan'}

# write a program to take dictionary from the keyboard and print the sum of value

In [35]:

d = eval(input("Enter Dictionary : "))
sum = sum(d.values())
print("sum : ", sum)

Enter Dictionary : {"a": 111, "b":333}
sum :  444

In [ ]:

d = eval(input("Enter Dictionary : "))
sum = sum(d.values())
print("sum : ", sum)

In [7]:
s1 = {10 , 20}           # set
s2 = {30 , 40 , 10}
# s3 = {s1+s2}              # in set we can't add like this
# print(s3)

s4 = {*s1 , *s2}
print(s4)            # add both set  duplicate will remove

{20, 40, 10, 30}

In [17]:
s = {100: 'A', 200:'B'}
s1 = {300:'C' , 400: 'D'}                    # dictionary

# print(s+s1)               # in dictionary we can't add like this

d = {**s , **s1}
print(d)

{100: 'A', 200: 'B', 300: 'C', 400: 'D'}

In [20]:
l1 = [(10,20,30) , (40,50,60)]
print(l1[0])
print(l1[1])

(10, 20, 30)
(40, 50, 60)

In [21]:
print(l1[0][1])

20

In [22]:
print(l1[1][2])

60

In [28]:
d = {"car": ("innova" , "honda" , "Maruti"),
    "mobile": ("Samsung", "iphone", "Nokia")
    }
print(d)

{'car': ('innova', 'honda', 'Maruti'), 'mobile': ('Samsung', 'iphone', 'Nokia')}

In [30]:
print(d["car"])

('innova', 'honda', 'Maruti')

In [31]:
print(d["mobile"])

('Samsung', 'iphone', 'Nokia')

In [34]:
print(d["mobile"][1])

iphone

In [41]:
print(d["car"][1])
print(d.get("car") [2])

honda
Maruti

In [42]:
# to display all mobile name
print(d.get("mobile")[1])

iphone

In [44]:
for mobile in d.get("mobile"):
    print(mobile)

Samsung
iphone
Nokia

In [45]:
d = {(10 ,20) : "item1" , (30,40) : [50,60]}
print(d)

{(10, 20): 'item1', (30, 40): [50, 60]}

In [50]:
for key,value in d.items():
    print(key, ":", value)

(10, 20) : item1
(30, 40) : [50, 60]